doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Practice
    body 
        .container 
            h1 Practice 
            P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur, explicabo maxime quisquam, accusamus corrupti nam cum impedit molestiae blanditiis autem in officiis doloribus iusto soluta numquam. Saepe eligendi itaque doloremque facere dolorum optio eum explicabo debitis reiciendis eveniet praesentium commodi, sapiente ea maiores. Nulla, eligendi inventore? Qua&shy;qwrdfvbgfsi qui provident con&shy;sequatur eligendi non accusantium dolores pariatur repellat exercitationem necessitatibus soluta cum architecto, saepe ipsam sequi, accusamus quos eaque veniam quis veritatis odit nobis earum corporis. Asperiores labore iusto accusantium explicabo voluptatem delectus, deserunt tempora earum distinctio maiores neque odio a incidunt quo quasi at id eveniet excepturi numquam laboriosam itaque.