@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  font-family: poppins;
  /* background-color: rgb(215, 234, 234); */
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0px 0px 2px rgb(56, 133, 78);
  font-size: 40px;
  background: none;
}

h2,
.powder {
  /* background: none; */
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(230, 244, 244), #800000);
}

.howto {
  max-height: fit-content;
}
