@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  font-family: poppins;
  /* background-color: rgb(215, 234, 234); */
  /* background: linear-gradient(rgb(215, 234, 234), rgba(43, 183, 169, 0.396)); */
}

h1 {
  text-transform: uppercase;
  /* font-weight: 900; */
  font-style: italic;
  text-shadow: 0px 0px 2px rgb(46, 132, 70);
  font-size: 42px;
  background: none;
}

h2,
.powder {
  /* background: none; */
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  justify-content: center;
  background: linear-gradient(rgb(208, 236, 236), rgba(9, 127, 117, 0.666));
}

.howto {
  max-height: fit-content;
}
