@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  font-family: poppins;
  background-color: rgb(215, 234, 234);
}

h1 {
  text-transform: uppercase;
  /* font-weight: 900; */
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(43, 183, 169, 0.396);
  font-size: 44px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  justify-content: center;
}

.howto {
  max-height: fit-content;
}
